
.icon-chat:before { content: '\e800'; } /* '' */
.icon-folder:before { content: '\e801'; } /* '' */
.icon-videocam:before { content: '\e802'; } /* '' */
.icon-folder-open:before { content: '\e803'; } /* '' */
.icon-key:before { content: '\e804'; } /* '' */
.icon-upload-cloud:before { content: '\e805'; } /* '' */
.icon-eye:before { content: '\e806'; } /* '' */
.icon-briefcase:before { content: '\e807'; } /* '' */
.icon-floppy:before { content: '\e808'; } /* '' */
.icon-mail:before { content: '\e809'; } /* '' */
.icon-signal:before { content: '\e80a'; } /* '' */
.icon-chat-1:before { content: '\e80b'; } /* '' */
.icon-briefcase-1:before { content: '\e80c'; } /* '' */
.icon-flight:before { content: '\e80d'; } /* '' */
.icon-moon:before { content: '\e80e'; } /* '' */
.icon-flash:before { content: '\e80f'; } /* '' */
.icon-home:before { content: '\e810'; } /* '' */
.icon-download:before { content: '\e811'; } /* '' */
.icon-warning:before { content: '\e812'; } /* '' */
.icon-headphones:before { content: '\e813'; } /* '' */
.icon-block:before { content: '\e814'; } /* '' */
.icon-sun-filled:before { content: '\e815'; } /* '' */
.icon-sun:before { content: '\e816'; } /* '' */
.icon-sort-numeric:before { content: '\e817'; } /* '' */
.icon-user:before { content: '\e818'; } /* '' */
.icon-plus:before { content: '\e819'; } /* '' */
.icon-plus-circled:before { content: '\e81a'; } /* '' */
.icon-lock-open:before { content: '\e81b'; } /* '' */
.icon-lock:before { content: '\e81c'; } /* '' */
.icon-picture:before { content: '\e81d'; } /* '' */
.icon-camera:before { content: '\e81e'; } /* '' */
.icon-mail-1:before { content: '\e81f'; } /* '' */
.icon-thumbs-up:before { content: '\e820'; } /* '' */
.icon-thumbs-down:before { content: '\e821'; } /* '' */
.icon-tag:before { content: '\e822'; } /* '' */
.icon-gift:before { content: '\e823'; } /* '' */
.icon-off:before { content: '\e824'; } /* '' */
.icon-trash-empty:before { content: '\e825'; } /* '' */
.icon-attention-circled:before { content: '\e826'; } /* '' */
.icon-attention:before { content: '\e827'; } /* '' */
.icon-upload:before { content: '\e828'; } /* '' */
.icon-download-1:before { content: '\e829'; } /* '' */
.icon-hourglass:before { content: '\e82a'; } /* '' */
.icon-book:before { content: '\e82b'; } /* '' */
.icon-home-1:before { content: '\e82c'; } /* '' */
.icon-user-1:before { content: '\e82d'; } /* '' */
.icon-left-thin:before { content: '\e82e'; } /* '' */
.icon-right-thin:before { content: '\e82f'; } /* '' */
.icon-arrows-ccw:before { content: '\e830'; } /* '' */
.icon-clipboard:before { content: '\e831'; } /* '' */
.icon-megaphone:before { content: '\e832'; } /* '' */
.icon-database:before { content: '\e833'; } /* '' */
.icon-infinity:before { content: '\e834'; } /* '' */
.icon-chart-bar:before { content: '\e835'; } /* '' */
.icon-chart-area:before { content: '\e836'; } /* '' */
.icon-cog:before { content: '\e837'; } /* '' */
.icon-layers:before { content: '\e838'; } /* '' */
.icon-layers-alt:before { content: '\e839'; } /* '' */
.icon-list:before { content: '\e83a'; } /* '' */
.icon-skype:before { content: '\e83b'; } /* '' */
.icon-twitter-1:before { content: '\e83c'; } /* '' */
.icon-youtube-1:before { content: '\e83d'; } /* '' */
.icon-google:before { content: '\e83e'; } /* '' */
.icon-facebook:before { content: '\e83f'; } /* '' */
.icon-github-2:before { content: '\e840'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-opentable:before { content: '\e842'; } /* '' */
.icon-th-list:before { content: '\e843'; } /* '' */
.icon-th:before { content: '\e844'; } /* '' */
.icon-download-cloud-1:before { content: '\f015'; } /* '' */
.icon-users:before { content: '\f064'; } /* '' */
.icon-soundcloud:before { content: '\f089'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-gauge:before { content: '\f0e4'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-suitcase:before { content: '\f0f2'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-medkit:before { content: '\f0fa'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-frown:before { content: '\f119'; } /* '' */
.icon-meh:before { content: '\f11a'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-extinguisher:before { content: '\f134'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-compass:before { content: '\f14e'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-tumblr:before { content: '\f173'; } /* '' */
.icon-tumblr-squared:before { content: '\f174'; } /* '' */
.icon-female:before { content: '\f182'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-recycle:before { content: '\f1b8'; } /* '' */
.icon-spotify:before { content: '\f1bc'; } /* '' */
.icon-soundcloud-1:before { content: '\f1be'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-circle-notch:before { content: '\f1ce'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-share-squared:before { content: '\f1e1'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-expeditedssl:before { content: '\f23e'; } /* '' */
.icon-battery-2:before { content: '\f242'; } /* '' */
.icon-battery-1:before { content: '\f243'; } /* '' */
.icon-github-1:before { content: '\f300'; } /* '' */
.icon-qq:before { content: '\f32a'; } /* '' */